.page__link {
   font-weight: 500;
   margin-right: 5px;
   color: #4990E2;
   transition: color 0.3s ease;
}

.page i {
   font-size: 12px;
   margin-right: 5px;
   color: #808080;
}

.back {
   padding: 10px 0;
}

.back__link {
   font-weight: 500;
   font-size: 16px;
   color: #111 !important;
}

.back__link i {
   bottom: 1px;
   color: #111;
}